.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__menber-list
        Menber:
        %li.main-header__left-box__menber-list__menber
          - @group.group_users.each do |group_user|
            = group_user.user.name
    = link_to "Edit", edit_group_path(params[:group_id]), class:"main-header__edit"
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'new-message', placeholder: "type a message"
      .input-box
        = f.label :image, class: "input-box__image" do
          = icon('fas', 'image', class: "icon")
          = f.file_field :image, class: "input-box__image__file"
      = f.submit 'Send', class: "submit-btn"